#page-study #container {
    width: 100vw;
    height: 100vh;
}

.page-header { /* área de cor lilás */
    background-color: var(--color-primary);

    display: flex; /* flexibiliza o posicionamento */
    /* flex - coloca o conteúdo em linha - um do lado do outro */
    flex-direction: column; /* posiciona em columas - um abaixo do outro */
}

.page-header .top-bar-container { /* img "seta" e img "Proffy" */
    width: 90%; /* largura do preenchimento do .top-bar... de 90% do .page-header */
    margin: 0 auto; /* 0 cima-baixo, auto direita-esquerda (mesma distância - centraliza) */

    display: flex;
    align-items: center; /* alinha ao centro */
    justify-content: space-between; /* justifica espaçamento entre os conteúdos */

    padding: 1.6rem 0; /* espaçamento interno */
}

.page-header .top-bar-container a img{ /* imagen "seta" */
    height: 3.2rem; /* tamanho */
    transition: opacity 0.2s; /* tipo de transição e tempo de transição */
    /* precisa do hover (a baixo) para funcionar */
}

.page-header .top-bar-container a:hover { /* hover - quando o mouse está focando */ 
    opacity: 0.6; /* diminui a opacidade para 60% */
}

.page-header .top-bar-container img { /* imagen "Proffy" */
    height: 1.6rem; 
}

.page-header .header-content { /* conteúdo do formulário */
    width: 90%; /* largura */
    margin: 3.2rem auto; /* 3.2rem cima-baixo, auto direita-esquerda (mesma distância - centraliza) */
}

.page-header .header-content strong { /* texto "Essas são ... */
    font: 700 3.6rem Archivo; /* configuração da fonte */
    line-height: 4.2rem; /* altura entre as linhas do texto */
    color: var(--color-title-in-primary);
}

#search-teachers { /* formulário */
    margin-top: 3.2rem; /* margem superior */
}

#search-teachers label { /* textos do formulário */
    color: var(--color-text-in-primary);
}

#search-teachers .select-block { /* select: matérias e dias */
    margin-bottom: 1.4rem; /* margem inferior */
}

#search-teachers button {
    width: 100%; /* largura */
    height: 5.6rem; /* tamanho */
    background: var(--color-secondary); /* cor de fundo */
    color: var(--color-button-text); /* cor do texto */
    border: 0; /* sombra da borda (0 - sem sombra) */
    border-radius: 0.8rem; /* espessura da borda */
    cursor: pointer; /* tipo do cursor */
    font: 700 1.6rem Archivo; /* especificação da fonte*/
    display: flex;
    align-items: center; /* alinha o texto ao centro (vertical) */
    justify-content: center; /* justifica o texto ao centro (horizontal) */
    text-decoration: none; /* decoração do texto - nenhuma */
    transition: background 0.2s; /* tipo e tempo da transição */
    margin-top: 3.2rem; /* margin superior */
}

#search-teachers button:hover {
    background-color: var(--color-secondary-dark); /* muda a cor do funto ao passar o mouse */
}

.select-block label, /* texto exterior do select e do input */
.input-block label {
    font-size: 1.4rem; /* tamanho */
    color: var(--color-text-complement); /* cor */
}

.input-block input, 
.select-block select {
    width: 100%; /* largura */
    height: 5.6rem; /* altura */
    margin-top: 0.8rem; /* margem superior*/
    border-radius: 0.8rem; /* arredondar bordas*/
    background: var(--color-input-background); /* cor do fundo*/
    border: 1px solid var(--color-line-in-white); /* especificação da borda */
    outline: 0; /* tira a linha de borda ao selecionar o item */
    padding: 0 1.6rem; /* margem interna */
    font: 1.6rem Archivo; /* fonte */
}

.input-block {
    position: relative; /* posição do elemento - video 02 - 1:58 */
}

.input-block:focus-within::after { /* quando algum elemento dentro do input estiver em foco */
    content: ""; /* conteúdo do elemento a ser criado */
    width: calc(100% - 3.2rem); /* largura do elemento criado */
    /* menor que a largura do input-block 3.2rem */
    height: 2px; /* tamanho */
    background: var(--color-primary-light); /* cor de fundo*/
    position: absolute; /* posição do elemento - video 02 - 1:58 (precisa do position relative (a cima)*/
    left: 1.6rem; /* posição a esquerda ( video 02 - 2:01) */ 
    bottom: 0;
}

#page-study main { /* espaça com todas as caixas dos professores */
    margin: 3.2rem;
    width: 90%;
}

.teacher-item { /* caixa de exibição de cada professor */
    background-color: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem
}

.teacher-item header { /* foto, nome, matéria */
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center; /* alinhamento vertical */
}
 
.teacher-item header img { /* imagem */
    width: 8rem;
    height: 8rem;
    border-radius: 50%; /* faz a imagem ficar em um circulo */
}

.teacher-item header div { /* nome do professor e matéria */
    margin-left: 2.4rem;
}

.teacher-item header div strong { /* nome do professor */
    font: 700 2.4rem Archivo;
    display: block; /* faz o elemento ocupar toda a linha */
    color: var(--color-text-title)
}

.teacher-item header div span { /* matéria */
    font-size: 1.6rem;
    display: block; /* faz o elemento ocupar toda a linha */
    margin-top: 0.4rem; /* precisa do display: block */
}

.teacher-item p { /* descrição do professor */
    padding: 0 2rem; /* espaçamento - 0 cima e embaixo, 2 direita e esquerda */
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.teacher-item footer { /* caixa de exibição do preço e contado do whatsapp */
    padding: 3.2rem 2rem; /* espaçamento - 3.2 cima e embaixo, 2 direita e esquerda */
    background-color: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white); /* linha acima do preço */
    margin-top: 3.2rem;

    display: flex; /* um elemento ao lado do outro */
    align-items: center; /* centalizado verticalmente */
    justify-content: space-between; /* mesmo espaço entre os elementos e a borda */
}

.teacher-item footer p { /* Preço/hora e R$20,00 */
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

.teacher-item footer p strong { /* R$20,00 */
    font-size: 1.6rem;
    color: var(--color-primary);
    display: block; /* faz o elemento ocupar toda a linha */
}

.teacher-item footer button { /* btão "Entrar em contato" */
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: space-evenly; /* espaçamento constante entre os elementos e as bordas */

    text-decoration: none;

    transition: background 0.2s;
    margin-left: 1.6rem;
} 

.teacher-item footer button:hover {
    background: var(--color-secondary-dark);
}