
:root {
    /*vaviáveis no CSS */
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /* tamanho da fonte padrão: 16px - 100% - 1rem */
    font-size: 60%; /* controle das medidas rem */
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh; /* altura  - 100% da altura do view*/
}

body {
    background-color: var(--color-background); /*cor de fundo*/
    display: flex; /* flexibilisa o alinhamento do conteúdo */
    align-items: center; /* alinhamento vertical - precisa do display flex*/ 
    justify-content: center; /* alinhamento horizonal - precisa do display flex*/
}

body,
input,
button, 
textarea {
    font: 500 1.6rem Poppins; /* font-weight, font-family, font-size */
    color: var(--color-text-base)
}

#container {
    width: 90vw; /*largura - 90% da largura do view*/
    max-width: 700px; /* largura máxima do container de 700px */
}

@media (min-width: 700px) { 
    /*aumenta o tamanho da fonte para dispositivos com telas maiores que 699px */
    :root {
        font-size: 62.5%;
    }
}